/Carmen/Anotações.txt
/Carmen/.idea/
/CursoemVideo/.idea/
/CursoemVideo/.idea
/Diversos
/Hastag Treinamentos
/pythonProject
/.idea
/.vscode

#Enforcado
Enforcado/.idea

#Diversos
Diversos/.idea

#ChatBot
ChatBot/.idea

#ChatGPT
ChatGPT/.idea

#API
API/.idea
API/Testes/.idea
API/Insert_Webservice/.idea
API/Gravação/.idea

#PythonBrasil
PythonBrasil/.idea

#WKapi
WKapi/.idea

#Middlware
Middlware/.idea

#Hastag
Hastag/.idea

*/.idea
*/.gitignore
*/.vscode